body {
  background-color: lightblue;
}

a{
  font-size: 20px;
}


h1 {
  color: red;
  text-align: center;
}

h2 {
  color: black;
  font-size: 12pt;
  text-align: right;
}
p {
  font-family: helvetica;
  font-size: 25px;
  color: black;
}